<div class="container d-flex flex-column align-items-center">
    <h1 class="mt-4">Create new laptop</h1>

    <form method="POST" class="d-flex align-items-center flex-column">

        <input type="text" id="create_title_input" name="title" placeholder="title">
        <span id="create_invalid_title"></span>

        <input type="text" id="create_price_input" name="price" placeholder="price">
        <span id="create_invalid_price"></span>

        <input type="text" id="create_description_input" name="description" placeholder="cpu, gpu, ram">
        <span id="create_invalid_description"></span>

        <label for="_true"> In Stock
            <input type="radio" class="available_radio" id="_true" name="available" value="true">
        </label>

        <label for="_false"> Out of Stock
            <input type="radio" class="available_radio" id="_false" name="available" value="false">
        </label>

        <div class="fw-bold mt-2">
            <span id="create_available_warning">
                    OUT OF STOCK BY DEFAULT
            </span>
        </div>

        <input type="submit" value="create" class="mt-4">
    </form>
    <style>
        input {
            border-color: black;
            margin-bottom: 3px;
        }
    </style>

    <script src="js/create.js"></script>
</div>