<% if(laptop) { %>
    <h1>Are you sure you want to delete <%= laptop.title %>?</h1>

    <a href="/details/<%= laptop.id %>">No, back to details</a>

    <form method="POST">
        <input type="submit" value="delete">
    </form>
    <% } else { %>
        This laptop not exist
        <% } %>