<div class="container d-flex flex-column align-items-center">
    <% if(laptop) { %>
        <h1 class="mt-4">Edit <%= laptop.title %>
        </h1>

        <form method="POST" class="d-flex align-items-center flex-column">

            <input type="text" id="edit_title_input" name="title" placeholder="title" value="<%= laptop.title  %>">
            <span id="edit_invalid_title"></span>
            <br>

            <input type="text" id="edit_price_input" name="price" placeholder="price" value="<%= laptop.price  %>">
            <span id="edit_invalid_price"></span>
            <br>

            <input type="text" id="edit_description_input" name="description" placeholder="cpu, gpu, ram"
                value="<%= laptop.description %>">
            <span id="edit_invalid_description"></span>
            <br>

            <label for="_true"> In Stock
                <input type="radio" class="available_radio" id="_true" name="available" value="true" <%
                    if(laptop.available==true) { %> checked <% } %>>
            </label>
            <br>

            <label for="_false"> Out of Stock
                <input type="radio" class="available_radio" id="_false" name="available" value="false" <%
                    if(laptop.available==false) { %> checked <% } %>>
            </label>
            <br>

            <input type="submit" value="edit" class="mt-4">
            <style>
                input {
                    border-color: black;
                    margin-bottom: 3px;
                }
            </style>
        </form>

        <% } else { %>
            <p class="mt-4">This laptop not exist</p>
            <% } %>
</div>
<script src="js/edit.js"></script>