<div class="container d-flex flex-column align-items-center">
        <h1 class="mt-4">Laptops world</h1>

        <ul>
            <% laptops.forEach(function(laptop) {%>
                <li>
                    <%= laptop.title %> <a href="/details/<%= laptop.id %>">details</a>
                </li>
                <% }) %>
        </ul>
</div>