<h1>Home page</h1>

<ul>
    <% laptops.forEach(function(laptop) {%>
        <li><%= laptop.title %></li>
        <% }) %>
</ul>

<button id="btn_test">click</button>

<p id="result_test"></p>

<script>
    $('#btn_test').on('click', function(){
        $('#result_test').text('Event handled from jQuery in browser');
    })
</script>