<div class="container d-flex flex-column align-items-center">
    <h1 class="mt-4">Stocks</h1>

    <div class="container d-flex align-items-center justify-content-center gap-5 mt-4">
        <div class="container border text-center">
            <h2>available</h2>
            <div id="available_container" class="d-flex flex-column align-items-center gap-5">

            </div>
        </div>
        <div class="container border text-center">
            <h2>unavailable</h2>
            <div id="unavailable_container" class="d-flex flex-column align-items-center">

            </div>
        </div>
    </div>
</div>

<script src="js/stocks.js"></script>